annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.1
anylabeling==0.4.35
anylabeling-gpu==0.4.30
beautifulsoup4==4.14.3
certifi==2026.2.25
charset-normalizer==3.4.6
click==8.3.1
cmap==0.7.2
coloredlogs==15.0.1
darkdetect==0.8.0
filelock==3.25.2
flatbuffers==25.12.19
fsspec==2026.2.0
gdown==5.2.1
h11==0.16.0
hf-xet==1.4.2
httpcore==1.0.9
httpx==0.28.1
huggingface_hub==1.7.1
humanfriendly==10.0
idna==3.11
imgviz==2.0.0
loguru==0.7.3
markdown-it-py==4.0.0
mdurl==0.1.2
ml_dtypes==0.5.4
mpmath==1.3.0
natsort==8.4.0
numpy==1.26.4
onnx==1.16.1
onnxruntime==1.21.1
onnxruntime-gpu==1.18.1
opencv-python-headless==4.7.0.72
osam==0.3.1
packaging @ file:///home/task_176104874243446/conda-bld/packaging_1761049080023/work
pillow==12.1.1
ply @ file:///home/conda/feedstock_root/build_artifacts/ply_1733239724146/work
protobuf==7.34.0
pydantic==2.12.5
pydantic_core==2.41.5
Pygments==2.19.2
PyQt5==5.15.11
PyQt5-Qt5==5.15.18
PyQt5_sip==12.18.0
PyQt6==6.10.2
PyQt6_sip @ file:///home/task_177247745577496/croot/pyqt-split_1772477503697/work/pyqt_sip
PySocks==1.7.1
PyYAML==6.0.1
qimage2ndarray==1.10.0
requests==2.32.5
rich==14.3.3
setuptools==82.0.1
shellingham==1.5.4
sip @ file:///home/conda/feedstock_root/build_artifacts/sip_1773071231024/work
soupsieve==2.8.3
sympy==1.14.0
termcolor==1.1.0
tomli @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_tomli_1768146676/work
tqdm==4.67.3
typer==0.24.1
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3==2.6.3
wheel==0.46.3
